div {
  border: 1px solid white;
}
h1 {
  font-family: 'Slabo 27px', serif;
  font-size: 5em;
  margin: 0 auto;
}

h2 {
  font-family: 'Slabo 27px', serif;
  font-size: 3em;
  margin: 0 auto;

}
.header {
  margin: 0 auto;
  width: 100%;
}

.clear {
  width: 45%;
  float: right;
}

.colorContainer {
  width: 45%;
  height: 50%;
}

#colors {
  display: inline;
  padding: 20px;
}

.color{
  display: inline;
}

.labels {
  width: 45%;
  float: right;
}

.label {
  display: inline;
  font-family :'Roboto';
  margin-left: 50px;

}

.options {
  font-family: 'Roboto';
  float: left;
}

.option {
  width: 25%;
  display: block;
  float: left;
  margin: 10px;
}

.submit {
  font-family: 'Slabo 27px';
  font-size: 2em;
  background-color: white;
  border: 1px solid darkgrey;
  border-radius: 10px;
  width: 80%;
  margin: auto 0;
}


